# Application
NODE_ENV=development

# URL Shortener
PUBLIC_HOST=localhost
WEB_PORT=5173

# PostgreSQL
POSTGRES_DB=url_shortener
POSTGRES_USER=url_shortener
POSTGRES_PASSWORD=url_shortener
POSTGRES_PORT=5432
